<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        AP Shopping market - admin-login
    </title>


    <!-- insert layout/commonHead.ejs file-->
    <%- include('layouts/commonHead') %>
</head>

<body>
    <div class="container bg-light">
        <div class="display-4">Admin log-in</div>
        <br>

        <%# ถ้ามีข้อความส่งมาจากไฟล์หลัก ให้แสดงข้อความนั้น %>
            <% if (locals.msg ) { %>
                <div id="result" style="color:red ;">
                    <%= msg %>
                </div>
                <% } %>

                    <form method="post" action="" id="formAction">
                        <div class="row mb-3 mt-3">
                            <label for="inputEmail3" class="col-sm-2 col-md-2 cols-lg-1 col-form-label">User
                                name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control w-50" id="inputEmail3" name="userName" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="inputPassword3"
                                class="col-sm-2 col-md-2 cols-lg-1 col-form-label">Password:</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control w-50" id="inputPassword3" name="userPassword"
                                    required>
                                <input type="checkbox" onclick="myFunction()" class="mt-3">แสดงรหัสผ่าน
                            </div>
                        </div>
                        <input type="hidden" id="currentURL">
                        <button type="submit" class="btn btn-primary mb-5 w-25" style="position: relative; left: 50px;"
                            onclick="checkCurrentURL()">Log-in</button>
                    </form>

                    <div class="flex flex-row">
                        <a id="index" href="/" style="position:relative; left: 50px;">หน้าแรก</a>

                        <a href="/web-management"
                            style="position:relative; left: 50px; margin-left: 30px;">หน้าหลักจัดการร้าน</a><br><br>

                    </div>
    </div>
    <script>
        function myFunction() {
            let x = document.getElementById("inputPassword3");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }

        }
        // check current URL for before move page
        function checkCurrentURL() {

            let checkCurrentURL = document.getElementById('currentURL')
            let formAction = document.getElementById('formAction')

            let currentURL = window.location.pathname

            if (currentURL == '/admin777/add-product') {

                formAction.action = '/admin777/add-product'

            } else if (currentURL == '/admin777/update-product') {

                formAction.action = '/admin777/update-product'
            }
        }

    </script>

    <!-- insert layout/commonBody.ejs file-->
    <%- include('layouts/commonBody') %>

</body>

</html>