<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        AP Shopping market - Web-Management
    </title>


    <!-- insert layout/commonHead.ejs file-->
    <%- include('layouts/commonHead') %>
</head>

<body>
    <div class="container bg-light">
        <div class="display-4">Web-Management</div>
        <br>

        <a href="/admin777/add-product">เพิ่มสินค้าใหม่</a><br><br>

        <a href="/admin777/update-product">อัพเดตรายการสินค้า</a><br><br>

        <a href="/admin777/delete-product">ลบรายการสินค้า</a><br><br>

        <a href="/admin777/order-product">ดูการสั่งสินค้า</a><br><br>

        <a href="/admin777/carousel-add">เพิ่มสไลด์แสดงสินค้า แบบ carousel</a><br><br>

        <a href="/">กลับหน้าหลัก</a><br><br><br><br>

        <a href="/admin-logout">ออกจากระบบ</a><br><br>

    </div>

    <!-- insert layout/commonBody.ejs file-->
    <%- include('layouts/commonBody') %>

</body>

</html>